body, html {
    height: 100%;
    margin: 0;

}

.bg {
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.btn-primary {

    width: 100px;
}


.btn-success {
    align-self: center;
    margin-top: 10px;
    width: 100%;
}

.btn-warning {
    width: 100px;
}

label {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0;

}
@media (max-width: 500px){
    label {
        color: green;
    }
}

@media (min-width: 500px) and (max-width: 1000px){
    label {
        color: red;
    }
}

#postButtons {

    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
}

.post_button {
    background-color: orange;
    color: black;
    font-size: medium;
    font-family: Arial;
    border-color: orange;
    width: 100px;
    padding: 5px;
    cursor: pointer;

}

.modal-footer {
    align-content: center;

}